;;;
;;; Default config.edn to be included with the jar file.  The purpose
;;; of this configuration is to give some reasonable defaults for some
;;; necessary parameters.
;;;

{:mqtt {:broker "tcp://localhost:1883"
        :client-id "mqhub"}
 :smtp {:server {:host "smtp.gmail.com"
                 :user "your.name@gmail.com"
                 ;; you better store it in the ~/.mqhub file
                 :pass "somesecret"
                 :ssl true}
        :message {:from "mqhub@loaclhost"
                  :to "your.name@gmail.com"}}
 :devices {}
 :logging {:level   :info
           :console true}}
